{% extends 'pages/layout.html' %}
{% load static %}

{% block title %}
    Silvo Dashboard
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 mx-auto">
            <div class="card card-form p-3" dir="ltr">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="username" name="username">
                        <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <button type="submit" class="btn btn-primary ">login</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
    
{% endblock %}
